<div class="footer_bg">
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-3 f_grid1">
            <h3>关于</h3>
            <a href="#"><img src="/frontend/images/logo.png" alt=""/></a>
            <p>更好的行业标准，更好的一体服务，追求卓越，服务至上，顾客至上。</p>
        </div>
        <div class="col-md-3 f_grid1 f_grid2">
            <h3>友情链接</h3>
            <ul class="social">
                <li><a href=""> <i class="fb"> </i><p class="m_3">Facebook</p><div class="clearfix"> </div></a></li>
                <li><a href=""><i class="tw"> </i><p class="m_3">Twittter</p><div class="clearfix"> </div></a></li>
                <li><a href=""><i class="google"> </i><p class="m_3">Google</p><div class="clearfix"> </div></a></li>
            </ul>
        </div>
        <div class="col-md-6 f_grid3">
            <h3>联系方式</h3>
            <ul class="list">
                <li><p>电话 : 13038389999</p></li>
                <li><p>传真 : 021-58132325</p></li>
                <li><p>邮件 : <a href="mailto:eamil(at)liuchaoheliang@qq.com">liuchaoheliang@qq.com</a></p></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="cssmenu">
            <ul>
                <li class="active"><a href="#">政策</a></li> .
                <li><a href="#">服务条款</a></li> .
                <li><a href="apply.html">合作申请</a></li> .
                <li><a href="contact.html">联系我们</a></li> .
                <li><a href="contact.html">技术支持</a></li>
            </ul>
        </div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights <a href="#" target="_blank" title="Group 8urchase"> Group Purchase</a></p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>