<!--
  ~ Copyright (C) 2018 Baidu, Inc. All Rights Reserved.
  -->
<div class="header">
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="/frontend/images/logo.png" alt=""/></a>
            </div>
            <ul id="customer" class="shopping_grid">
                <a href="login.html"><li>登录</li></a>
                <a href="register.html"><li>注册</li></a>
                <a href="shopingCar.html"><li><span class="m_1">购物车</span>&nbsp;&nbsp;(0) &nbsp;<img src="/frontend/images/bag.png" alt=""/></li></a>
                <div class="clearfix"> </div>
            </ul>

            <ul id="user-info" style="display:none;" class="shopping_grid">
                <li id="user-login-id">liuchao</li>
                <a href="userInfo.html"><li>个人中心</li></a>
                <a href="shopingCar.html"><li><span class="m_1">购物车</span>&nbsp;&nbsp;(0) &nbsp;<img src="/frontend/images/bag.png" alt=""/></li></a>
                <a href="javascript:logout();"><li>退出登录</li></a>
                <div class="clearfix"> </div>
            </ul>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="h_menu4"><!-- start h_menu4 -->
        <div class="container">
            <a class="toggleMenu" href="#">导航</a>
            <ul class="nav">
                <li class="active"><a href="index.html">团购首页</a></li>
                <li><a href="wishlist.html" >我的收藏</a></li>
                <li><a href="shopingCar.html" >购物车</a></li>
                <li><a href="apply.html" >商户合作</a></li>
                <li><a href="about.html" >简介</a></li>
                <li><a href="contact.html" >联系我们</a></li>
            </ul>

        </div><!-- end h_menu4 -->
    </div>
</div>
<script>
tokenVerify();
</script>