<div class="col-md-3 sidebar_box">
    <div class="sidebar">
        <div class="menu_box">
            <h3 class="menu_head">商品分类</h3>
            <ul id="product-categroy-list" class="menu">
                <!--<li class="item1"><a href="javascript:void(0)"><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/> 男士</a></li>-->
                <!--<li class="item2"><a href="javascript:void(0)"><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>女士</a></li>-->
                <!--<li class="item3"><a href="javascript:void(0)"><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>时尚 2015</a></li>-->
                <!--<li class="item4"><a href="javascript:void(0)"><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>儿童</a></li>-->
                <!--<li class="item5"><a href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>Jeans</a></li>-->
                <!--<li class="item6"><a href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>T恤</a></li>-->
                <!--<li class="item7"><a href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>顶级时尚</a></li>-->
                <!--<li class="item8"><a href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>夏季系列</a></li>-->
                <!--<li class="item9"><a href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>特价</a></li>-->
            </ul>
        </div>
        <!--initiate accordion-->
        <script>
			$(function() {
			    //加载分类
                ajax(
                    query_product_category_by_cond_api+"?parentCategoryId=-1",
                    'GET',
                    function (result) {
                        var html = "";
                        $.each(result,function (index, value){
                            html += '<li class="item1"><a categoryId='+value.id+' href=""><img class="arrow-img" src="/frontend/images/f_menu.png" alt=""/>'+value.categoryName+'</a></li>'
                        });
                        $("#product-categroy-list").html(html);

                        menu_a  = $('.menu > li > a');
                        menu_a.click(function(e) {
                            //searchProduct(1,null,$(this).attr("categoryId"));
                            window.parent.location =  $main_index_location + "?categoryId=" + $(this).attr("categoryId");
                            e.preventDefault();
                            if(!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                $(this).addClass('active');
                            } else {
                                $(this).removeClass('active');
                            }
                        });

                        var categoryId = $.getUrlParam("categoryId");
                        if(categoryId){
                            $('.menu > li > a[categoryId="'+categoryId+'"]').addClass('active');
                        }
                    }
                );
			});
		</script>
    </div>
</div>