<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">商品搜索：</div>
            <div class="stay_right">
                <input id="search-product-input" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                <input id="search-product-btn" type="submit" style="height: 32px;" value="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    $(function(){
        $("#search-product-btn").bind("click",function (){
           search();
        });
        $("#search-product-input").keyup(function(event){
            if(event.keyCode ==13){
                search();
            }
        });
        function search(){
            var text = $("#search-product-input").val();
            window.parent.location =  $main_index_location + "?productName=" + escape(text);
        }
    });

</script>