<div class="col-md-3 sidebar_box">
    <div class="sidebar">
        <div class="menu_box">
            <ul class="menu userinfo">
                <a href="userInfo.html"><li class="item1">我的信息</li></a>
                <a href="orderList.html"><li class="item1">我的订单</li></a>
                <a href="receiveAddress.html"><li class="item1">收货地址</li></a>
                <a href="modifyPassword.html"><li class="item1">修改密码</li></a>
            </ul>
        </div>

    </div>
</div>

<!--initiate accordion-->
<script>
    $(function() {
        var localUrl = window.location.pathname;
        localUrl  = localUrl.substring(localUrl.lastIndexOf("/")+1);
        if("userInfo.html" == localUrl){
			$('.menu > a').eq(0).addClass('active1');
        }else if("orderList.html" == localUrl){
			$('.menu > a ').eq(1).addClass('active1');
        }else if("receiveAddress.html" == localUrl ){
			$('.menu > a ').eq(2).addClass('active1');
        }else if("modifyPassword.html" == localUrl){
			$('.menu > a ').eq(3).addClass('active1');
        }

    });
</script>