    .row{
      min-height:20rem;
    }
    .about{
	   padding:1rem 0;
	 }
	.top_grid2{
	   margin-top: 0;
	   margin:0 auto;
	}
    .register-top-grid div{
		float:none;
    }
    .userinfo div{
       padding: 1rem 0;
    }
    .menu a{
      display:block;
    }
    .menu a li{
      padding-top:1rem;
      padding-left:1rem;
      border-bottom:1px solid #ccc;
      font-size: 18px;
      letter-spacing: 6px;
      font-weight: bold;
    }
    .menu a li:last-child{
      padding-bottom:1rem;
    }
    .active1{
       background: #d0072c;
       color:#fff;
    }
    .table{
      margin-bottom:0;
    }
    .userinfo{
        min-height:500px;
        text-align: center;
        font-size: 18px;
    }

    #order-list a{
        color: #4f84f1;
    }